.lang {
  position: absolute;
  left: 10.7vw;
  top: 1.2vw;
  display: flex;

  @media all and (max-width: $screen-tablet) {
    left: 14.2vw;
    top: 1.5vw;
  }

  @media all and (max-width: $screen-smart) {
    left: 29vw;
    top: 4vw;
  }


  &__flag {
    width: 2vw;
    height: 2vw;
    margin-right: 10px;
    transition: 0.2s;

    @media all and (max-width: $screen-tablet) {
      width: 3vw;
      height: 3vw;
    }

    @media all and (max-width: $screen-smart) {
      width: 5vw;
      height: 5vw;
      margin-right: 5px;
    }
  }

  & a {

    & img {
      opacity: 0.3;
    }

    &:hover img {
      opacity: 1;
    }
  }
}